body { background-color:#111111;  }
#content
{
height : 5799px ; 
}
#header
{
visibility : visible ; 
}
#footer
{
visibility : visible ; 
}
#divider138
{
position: absolute ; 
display: block ; 
width:900px ; 
height:487px ; 
left:42px ; 
top:439px ; }

#divider139
{
position: absolute ; 
display: block ; 
width:900px ; 
height:487px ; 
left:41px ; 
top:2648px ; }

#divider140
{
position: absolute ; 
display: block ; 
width:900px ; 
height:487px ; 
left:41px ; 
top:2091px ; }

#divider141
{
position: absolute ; 
display: block ; 
width:900px ; 
height:487px ; 
left:42px ; 
top:988px ; }

#divider142
{
position: absolute ; 
display: block ; 
width:900px ; 
height:487px ; 
left:42px ; 
top:1533px ; }

#divider143
{
position: absolute ; 
display: block ; 
width:700px ; 
height:524px ; 
left:129px ; 
top:3195px ; }

#divider145
{
position: absolute ; 
display: block ; 
width:288px ; 
height:288px ; 
left:349px ; 
top:27px ; }

#divider146
{
position: absolute ; 
display: block ; 
width:900px ; 
height:672px ; 
left:41px ; 
top:5107px ; }

#divider147
{
position: absolute ; 
display: block ; 
width:489px ; 
height:366px ; 
left:21px ; 
top:4643px ; }

#divider148
{
position: absolute ; 
display: block ; 
width:489px ; 
height:366px ; 
left:467px ; 
top:4228px ; }

#divider149
{
position: absolute ; 
display: block ; 
width:489px ; 
height:366px ; 
left:245px ; 
top:3802px ; }
